MONGO_URI=mongodb://username:password@hostname:27017/dbname?authSource=admin&readPreference=primary

# use 'local' or 'aws' for strage type
APP_STORAGE=local
RETENSION_WEEKS=4
# 02:00 AM everyday
CRON_EXPRESSION="0 0 2 * *"
APP_TIMEZONE=America/Chicago

# required in case APP_STORAGE=aws
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET_NAME=
