MONGO_URI=mongodb://q2_db_admin:KyH9YcGMvD()3EDQ3@54.243.52.87:27017/dev_q2?authSource=admin&readPreference=primary

# use 'local' or 'aws'
APP_STORAGE=local
RETENSION_WEEKS=4

# required in case APP_STORAGE=aws
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET_NAME=
